
body{
      font-family: Arial, Helvetica, sans-serif; 
      background: #caf0f8 url('https://images.pexels.com/photos/2873992/pexels-photo-2873992.jpeg?cs=srgb&dl=a-beira-mar-agua-do-oceano-alvorecer-2873992.jpg&fm=jpg');
}
.corpo_do_formulário{
      padding: 20px;
      background: #226671;
      margin: auto;
      width: 250px ;
      border-radius: 30px;
      font-size: 20px;
      border-color: gray;
      box-shadow:10px  gray;
      color: white;
    }
.botão{
      background-color: #0077b6;
      color: white;
      padding:10px;
      font-size:25px;
      border-radius:10px ;
      cursor:pointer;
}
.forms{
      text-align: center;
      position: relative;
      top: 30px;
}
#Email{
      padding: 10px;
      border-radius: 7px;
      background:#fff
}
#Senha{
      padding: 10px;
      border:30px, black;
      border-radius: 7px;
      background: #fff
}
#Registro{
      font-size: 20px;
      position: relative;
      top: 10px;
}
.botão:hover{
      background-color:#03045e
}
#Link{
      color:blue
}
#Link:hover{
      color:rgb(48, 10, 129);
}
.navbar{
      list-style: none;
      margin: 0;
      padding:0;
      background: #6e9fed;
      border-radius: 5px;
      overflow: auto;
}
.navbar li{
      float:left;
      font-size: 18px;

}
.navbar li a{
      display: block;
      color: white;
      text-decoration: none;
      padding:15px 20px;
}
.navbar li a:hover{
      background-color: #1157c9 ;
      color:antiquewhite
}
